<h1>
  <%=h @page.title %>
</h1>

<p>
  <%=h @page.body %>
</p>
<p>
  <%= image_tag @page.image.url, :size => @page.image_size%> <!-- paperclip -->
</p>
<h2>
  <%=h @page.caption %>
</h2>

<h3>
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Home Base', pages_path %> |

<% previous_page = Page.find_by_order_num(@page.order_num-1)%>
<% unless previous_page.nil? %>
<%= link_to 'Back', page_url( previous_page ) %>
<% end %>
<% next_page = Page.find_by_order_num(@page.order_num+1)%>
<% unless next_page.nil? %>
<%= link_to 'Next', page_url( next_page ) %>
<% end %>
<% previous_page = Page.find_by_order_num(@page.order_num-1)%>

</h3>